.site-header {
  padding: 10px 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba($mainBlue, .3);

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 1.56rem 2.5rem;
    top: 0;
  }
}
